* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.nav_bar_main {
  background-color: #272a31;
  width: 100%;
}

.hamburger {
  padding: 0.5em;
  margin-left: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.main_section {
  background-image: url(./assets/pexels-wendy-wei-1306791.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(199, 21, 1);
  background-blend-mode: multiply;
}

.text_content_container {
  color: white;
  padding: 2em 1.5em;
}

.greeting_msg {
  padding: 0.5em;
  font-size: 1.5rem;
}

.overlay {
  background-color: #272a3186;
  background-blend-mode: multiply;
}

.show_heading {
  padding: 0.5em;
  font-size: 2rem;
  color: white;
  border: 2px solid rgba(187, 164, 164, 0.493);
}

.live_at_lums {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  padding: 0.5em;
}

.live_at_lums>span {
  font-size: 2.5rem;
}

.nescafe_description {
  font-size: large;
  padding: 0.5em;
  line-height: 25px;
}

.timing_details {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5em;
  border: 2px solid rgba(187, 164, 164, 0.493);
}

/*  Second sections starts here */

.main_session_heading {
  text-align: center;
  padding-top: 1em;
  color: white;
}

.sepreator {
  width: 80px;
  height: 3px;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: #ec5242;
}

.sessions_main_container {
  background-image: url(./assets/Sessions_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #272a31;
}

.session_cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 2em;
}

.sessions_cards_items {
  display: flex;
  padding: 0.8em;
  color: white;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #62677473;
  background-blend-mode: multiply;
}

.sessions_cards_items:hover {
  border: 2px solid white;
}

.cards_item_one {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  color: #ec5242;
  gap: 8px;
  width: 60%;
}

.cards_item_one img {
  color: white;
}

.cards_item_one p {
  width: 50%;
}

.cards_item_two {
  font-size: 13px;
  width: 50%;
}

.ticket_btn {
  background-color: #ec5242;
  width: 270px;
  color: white;
  margin: 0 auto;
}

.ticket_btn p {
  padding: 1em;
  font-weight: 600;
  text-align: center;
}

.ticket_btn:hover {
  background-color: white;
  color: #ec5242;
}

.last_element_section {
  height: 2em;
}

.featured_musicians_heading {
  text-align: center;
  padding-top: 1em;
  color: black;
}

.more_btn {
  width: 300px;
  margin: 0 auto;
  border: 1px solid grey;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 2em;
}

.fa-arrow-square-down {
  color: #ec5242;
}

/* Dynamic Page ends here */
.partners_section {
  background-color: #272a31;
}

.partners_logos_container {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-around;
}

.last_section {
  display: flex;
  gap: 30px;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 700px;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.last_section img {
  height: 60px;
}

/* Dynamic card styling */
.dynamic_card_item {
  display: flex;
  padding: 1em 2em;
  gap: 20px;
}

.dynamic_card_item img {
  width: 130px;
  height: 120px;
}

.dynamic_card_profession {
  font-style: italic;
  padding: 0.2em 0;
  font-size: 13px;
  color: #ec5242;
  font-weight: 700;
}

.dynamic_card_sepreator {
  height: 0.2em;
  background-color: gray;
  width: 50px;
  margin: 0.3em 0;
}

.dynamic_card_details {
  font-size: 15px;
}

/* About Page styling */

.about_page_description {
  padding: 2em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
}

.nescafe_logo_about_page {
  padding: 2em 3em;
  border: 2px solid grey;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
}

.nescafe_logo_about_page img {
  width: 200px;
}

.past_showcase {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 3em;
}

.first_show {
  background-image: url(./assets/pexels-annam-w-1047442.jpg);
  background-size: cover;
  width: 350px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-blend-mode: multiply;
  background-color: rgb(199, 21, 1);
}

.first_show span {
  font-size: 30px;
  font-weight: 700;
  padding: 0.2em;
}

.first_show p {
  font-size: 20px;
  font-weight: 700;
}

/* Mobile menu styling */

.menu {
  background-color: #272a31;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.cross {
  padding: 0.5em;
  margin-left: 12px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.pages {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  font-size: 25px;
  gap: 25px;
  padding: 3em;
}

.pages a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.pages a:hover {
  color: #ec5242;
}

.hide {
  display: none;
}

.top_container_desktop {
  display: none;
}

.nav_logo,
.pages_desktop {
  display: none;
}

/* Responsive design starts here ! */

@media screen and (min-width: 768px) {

  .nav_logo,
  .pages_desktop {
    display: block;
  }

  .top_container_desktop {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0.5em 10em;
    background-color: #272a31;
  }

  .top_container_desktop_items {
    color: white;
    text-decoration: none;
  }

  .top_container_desktop_items:hover {
    color: #ec5242;
  }

  .hamburger {
    display: none;
  }

  .nav_bar_main {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 10em;
    align-items: center;
  }

  .nav_logo img {
    width: 120px;
  }

  .pages_desktop {
    display: flex;
    gap: 20px;
    font-weight: 600;
  }

  .pages_desktop a {
    text-decoration: none;
    color: #272a31;
  }

  .pages_desktop a:hover {
    color: #ec5242;
  }

  .text_content_container {
    max-width: 600px;
    margin-left: 15em;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 8em;
  }

  .session_cards {
    flex-direction: row;
    margin-bottom: 3em;
    padding: 3em 1em;
  }

  .sessions_cards_items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
  }

  .cards_item_one {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #piano_one {
    display: flex;
    margin-top: 1.5em;
    gap: 20px;
  }

  .feature_cards {
    display: grid;
    max-width: 950px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .more_btn {
    display: none;
  }

  .partners_logos_container {
    max-width: 700px;
    margin: 0 auto;
  }

  .brands_logos {
    width: 200px;
  }

  /* About page styling starts here ! */

  .nescafe_logo_about_page {
    max-width: 500px;
  }

  .past_showcase {
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 2em auto;
    margin-bottom: 5em;
  }

  .first_show {
    max-width: 400px;
  }

  .last_section {
    padding: 5em 0;
  }

  .pages_desktop_items {
    padding: 0.5em;
  }

  #get_connected_btn {
    border: 3px solid #ec5242;
  }
}